<divclass="center">
.center{
      width: 100%;
      height: 100%;
      display: flex;
      felx-flow: row nowraps;
      align-items: center;
      justity-content: center;
}
html,body{
      margin:0;
      padding:0;
      height:100%;
}
.msg{
      font-size:64px;
}
